/* app css stylesheet */

/************************
        VARIABLES
*************************/

/************************
        LAYOUT
*************************/
body {
  background-color : #eeeeee;
}

div#maincontainer {
    width: 750px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
}

div#contentwrapper {
    float: left;
    width: 100%;
}

div#chessBoardColumn {
    margin: 0 130px 0 130px; /*Margins for content column. Should be "0 RightColumnWidth 0 LeftColumnWidth*/
    text-align: center;
}

div#wGraveyard {
    float: left;
    width: 130px; /*Width of left column in pixel*/
    margin-left: -750px; /*Set margin to that of -(MainContainerWidth)*/
}

div#bGraveyard {
    float: left;
    width: 130px; /*Width of right column*/
    margin-left: -130px; /*Set left margin to -(RightColumnWidth)*/
}

/************************
        CHAT
*************************/

label {
    font-size:10pt;
    color:#000000;  
}
input[type='text']:focus,textarea:focus,.chat_input, .chat_output {
    background-color : transparent;
    border:1px solid #888888;
    border-radius:4px;
    font-size:10pt;
    color:#000000;
}

input[type='text']:focus,textarea:focus,.chat_input { 
    outline:none;
    box-shadow:0 0 3px #000000;
}

p.chat_msg, p.chat_sys, p.chat_activity, p.chat_me {
    margin: 0.2em;
    line-height: 1em;
}
p.chat_sys {
    font-weight: bold;
    color: #AA0000;
}

span.chat_time {
    color: #AA0000;
    margin-right: 0.3em;
}
span.chat_user {
    color: #00AA00;
    margin-right: 0.3em;
}
span.chat_msg {
}

/************************
        CHESSBOARD
*************************/
.chessBoard {
    margin-left:auto;
    margin-right:auto;
    border: 0.3em solid black;
}

.chessBoardRow {
}

.chessBoardSquare {
    background-size: 100%;
    width: 49px;
    height: 49px;
    border: 0.1em solid #000;;
    margin: 0;
    padding: 0;
    text-align:center;
}


.chessBoardSquare0 {
    background-image: url('../img/blackSq49x49.png');
}
    .chessBoardSquare0.overOk {
        border: 0.1em solid #8fef77;
    }
    .chessBoardSquare0.overKo {
        border: 0.1em solid #ef2929;
    }
    
.chessBoardSquare1 {
    background-image: url('../img/whiteSq49x49.png');
}
    .chessBoardSquare1.overOk {
        border: 0.1em solid #4e9a06;
    }
    .chessBoardSquare1.overKo {
        border: 0.1em solid #a40000;
    }



/********************
        PIECES
*********************/
img.piece {
    width: 37px;
    height: 37px;
    border: 0;
    margin: 0;
    background-size: 100%;
    cursor: move;
}
img.wking {
    background-image: url('../img/wking.png');
}
img.wqueen {
    background-image: url('../img/wqueen.png');
}
img.wrook {
    background-image: url('../img/wrook.png');
}
img.wbishop {
    background-image: url('../img/wbishop.png');
}
img.wknight {
    background-image: url('../img/wknight.png');
}
img.wpawn {
    background-image: url('../img/wpawn.png');
}
img.bking {
    background-image: url('../img/bking.png');
}
img.bqueen {
    background-image: url('../img/bqueen.png');
}
img.brook {
    background-image: url('../img/brook.png');
}
img.bbishop {
    background-image: url('../img/bbishop.png');
}
img.bknight {
    background-image: url('../img/bknight.png');
}
img.bpawn {
    background-image: url('../img/bpawn.png');
}

