/************************
        CHESSBOARD
*************************/
#chessBoardHidden {
    display:block;
    margin:auto;
}
#chessBoardContainer {
    display: none;
    width:100%;
}
#chessBoard {
        width:16em; 
        height:16em; 
}
#chessBoard,#wGraveyard,#bGraveyard {
    margin:auto;
    display:block;
    border: 0.2em solid black;
    margin-top:0.2em;
    overflow:hidden;
}
#wGraveyard {
    background-color:black;
}
#bGraveyard {
    background-color:white;
}

#boardpage_chat {
    width:100%;
    display:block;
}
#board_chat_output,
#board_chat_input {
    display:block;
    width:100%;
}

.chessBoardRow {
    float:left;
    display:block;
    width:100%;
}

.chessBoardSquare {
    float:left;
    display:block;
    text-align:center;
}


.chessBoardSquare0 {
    background-image: url('/client/img/blackSq49x49.png');
}
    #chessBoardSquare0.overOk {
        border: 0.1em solid #8fef77;
    }
    #chessBoardSquare0.overKo {
        border: 0.1em solid #ef2929;
    }
    
.chessBoardSquare1 {
    background-image: url('/client/img/whiteSq49x49.png');
}
    #chessBoardSquare1.overOk {
        border: 0.1em solid #4e9a06;
    }
    #chessBoardSquare1.overKo {
        border: 0.1em solid #a40000;
    }

.piece {
    background-size: 100%;
    cursor: move;
    position:relative;
}


/* breakpoint at 256px */
@media all and (min-width: 16em) and (min-height: 19em){
    #chessBoardHidden {
        display:none;
    }
    #chessBoardContainer {
        display:block;
    }
    .chessBoardRow {
        height:2em;
    }
    .chessBoardSquare {
        width:2em;
        height:2em;
    }
    .piece {
        width: 1.8em;
    }
    #wGraveyard, #bGraveyard {
        display:block;
        width:16em; 
        height:2em;
    }
    #boardpage_chat {
        display:block;
    }
}

/* breakpoint at 384px */
@media all and (min-width: 24em) and (min-height: 27em){
    #chessBoard {
        width:24em; 
        height:24em; 
    }
    .chessBoardRow {
        height:3em;
    }
    .chessBoardSquare {
        width:3em;
        height:3em;
    }
    .piece {
        width: 2.7em;
    }
    #wGraveyard, #bGraveyard {
        height:3em;
        width:24em; 
    }
}

/* breakpoint at 512px */
@media all and (min-width: 32em) and (min-height: 35em){
    #chessBoard {
        width:32em; 
        height:32em; 
    }
    .chessBoardRow {
        height:4em;
    }
    .chessBoardSquare {
        width:4em;
        height:4em;
    }
    .piece {
        width: 3.6em;
    }
    #wGraveyard, #bGraveyard {
        width:32em; 
        height:4em;
    }
}

/* breakpoint at 650px */
@media all and (min-width: 40em) and (min-height: 43em){
    #chessBoard {
        width:40em; 
        height:40em; 
        margin-top: 0.3em;
    }
    .chessBoardRow {
        height:5em;
    }
    .chessBoardSquare {
        width:5em;
        height:5em;
    }
    .piece {
        width: 4.5em;
    }
    #wGraveyard, #bGraveyard {
        margin-top: 0.3em;
        width:40em;
        height:5em;
    }
}

/* breakpoint at 864px : Graveyards are moved to the right side of the board */
@media all and (min-width: 54em) and (min-height: 43em){
    #chessBoard {
        margin: 0.5em 0.5em 0 0.5em;
        float:left;
        display:block;
        width:40em; 
    }
    #wGraveyard, #bGraveyard {
        margin: 0.5em 0.2em 0 0;
        float:left;
        display:block;
        width:5em;
        height:40em;
    }
    #boardpage_chat {
        float:left;
    }
}

/* breakpoint at 1024px : Chat is moved to the right side of the screen */
@media all and (min-width: 64em){
    #boardpage_chat {
        margin: 0.5em 0.2em 0 54em;
        width:auto;
        float:none;
    }
}

