/* app css stylesheet */

body {
    font-family: Helvetica, san-serif; 
    background-color : #eeeeee;
}


/************************
        CHAT
*************************/

label {
    color:#000000;  
}

#chat_output {
    height:100%;
}

p.chat_msg, p.chat_sys, p.chat_activity, p.chat_me {
    margin: 0.2em;
    line-height: 1em;
}
p.chat_sys {
    font-weight: bold;
    color: #AA0000;
}

p.chat_activity {
    font-style:italic;
    color: #908ED1;
}

span.chat_time {
    color: #AA0000;
}
span.chat_user, a.chat_user {
    color: #00AA00;
    text-decoration:none;
}
span.chat_direct {
    font-weight: bold;
}
a.chat_user:hover {
    text-decoration:underline;
}
span.chat_msg {
}


/********************
        PIECES
*********************/
img.wking {
    background-image: url('/client/img/wking.png');
}
img.wqueen {
    background-image: url('/client/img/wqueen.png');
}
img.wrook {
    background-image: url('/client/img/wrook.png');
}
img.wbishop {
    background-image: url('/client/img/wbishop.png');
}
img.wknight {
    background-image: url('/client/img/wknight.png');
}
img.wpawn {
    background-image: url('/client/img/wpawn.png');
}
img.bking {
    background-image: url('/client/img/bking.png');
}
img.bqueen {
    background-image: url('/client/img/bqueen.png');
}
img.brook {
    background-image: url('/client/img/brook.png');
}
img.bbishop {
    background-image: url('/client/img/bbishop.png');
}
img.bknight {
    background-image: url('/client/img/bknight.png');
}
img.bpawn {
    background-image: url('/client/img/bpawn.png');
}

