/************************
        CHESSBOARD
*************************/
#chessBoardHidden {
    display:block;
    margin:auto;
}

#chessBoardContainer {
    display: none;
    max-width:55em;
    width:100%;
}

#chessBoard {
    width:16em; 
    height:16em; 
}
#infoPanel {
    width:16em;
}

#infoPanel {
    border: none;
    overflow: hidden;
}

.piece {
    width: 90%;
}

.timer {
    background-color:black;
    display:block;
    width: 50%;
    min-width:3em;
    height: 1.2em;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
    .timer.current {
        border:1pt solid white;    
    }

#wTimer {
    float: left;
}
#bTimer {
    float: right;
}

#wSit,#bSit {
    z-index:1000;
    position:absolute;
    display:block;
    width:10em;
    left:50%;
    margin-left:-5em;
    top: 10em;
}

#wSit {
    margin-top: 4em;
}

#infoPanel, #chessBoard,#wGraveyard,#bGraveyard {
    margin:auto;
    display:block;
    border: 0.2em solid black;
    margin-top:0.2em;
}
    #wGraveyard.selected, #bGraveyard.selected {
        border:2pt solid red;    
    }
    
#wGraveyard {
    background-color:black;
    overflow-x: hidden;
    overflow-y: auto;
}
#bGraveyard {
    background-color:white;
    overflow-x: hidden;
    overflow-y: auto;
}

#boardpage_chat {
    width:98%;
    margin: 0 1% 0 1%;
    display:block;
}
#board_chat_output,
#board_chat_input {
    display:block;
    width:100%;
}

.chessBoardRow {
    float:left;
    display:block;
    width:100%;
}

.chessBoardSquare {
    float:left;
    display:block;
    text-align:center;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
      
.chessBoardSquare0 {
    background-image: url('/client/img/blackSq49x49.png');
}
    .chessBoardSquare0.check {
        border:2pt solid red;    
    }
    .chessBoardSquare0.selected {
        border:2pt solid green;
    }

.chessBoardSquare1 {
    background-image: url('/client/img/whiteSq49x49.png');
}
    .chessBoardSquare1.check {
        border:2pt solid red;    
    }
    .chessBoardSquare1.selected {
        border:2pt solid green;    
    }

.piece {
    background-size: 100%;
    cursor: move;
    position:relative;
}

/********************
        PIECES
*********************/
img.wking {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22fill%3Anone%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2022.5%2C11.63%20L%2022.5%2C6%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2020%2C8%20L%2025%2C8%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2022.5%2C25%20C%2022.5%2C25%2027%2C17.5%2025.5%2C14.5%20C%2025.5%2C14.5%2024.5%2C12%2022.5%2C12%20C%2020.5%2C12%2019.5%2C14.5%2019.5%2C14.5%20C%2018%2C17.5%2022.5%2C25%2022.5%2C25%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23000000%3B%20stroke-linecap%3Abutt%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011.5%2C37%20C%2017%2C40.5%2027%2C40.5%2032.5%2C37%20L%2032.5%2C30%20C%2032.5%2C30%2041.5%2C25.5%2038.5%2C19.5%20C%2034.5%2C13%2025%2C16%2022.5%2C23.5%20L%2022.5%2C27%20L%2022.5%2C23.5%20C%2019%2C16%209.5%2C13%206.5%2C19.5%20C%203.5%2C25.5%2011.5%2C29.5%2011.5%2C29.5%20L%2011.5%2C37%20z%20%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011.5%2C30%20C%2017%2C27%2027%2C27%2032.5%2C30%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011.5%2C33.5%20C%2017%2C30.5%2027%2C30.5%2032.5%2C33.5%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011.5%2C37%20C%2017%2C34%2027%2C34%2032.5%2C37%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.wqueen {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3A%23ffffff%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2013%20A%202%202%200%201%201%20%205%2C13%20A%202%202%200%201%201%20%209%2013%20z%22%0A%20%20%20%20%20%20transform%3D%22translate(-1%2C-1)%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2013%20A%202%202%200%201%201%20%205%2C13%20A%202%202%200%201%201%20%209%2013%20z%22%0A%20%20%20%20%20%20transform%3D%22translate(15.5%2C-5.5)%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2013%20A%202%202%200%201%201%20%205%2C13%20A%202%202%200%201%201%20%209%2013%20z%22%0A%20%20%20%20%20%20transform%3D%22translate(32%2C-1)%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2013%20A%202%202%200%201%201%20%205%2C13%20A%202%202%200%201%201%20%209%2013%20z%22%0A%20%20%20%20%20%20transform%3D%22translate(7%2C-4.5)%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2013%20A%202%202%200%201%201%20%205%2C13%20A%202%202%200%201%201%20%209%2013%20z%22%0A%20%20%20%20%20%20transform%3D%22translate(24%2C-4)%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2C26%20C%2017.5%2C24.5%2030%2C24.5%2036%2C26%20L%2038%2C14%20L%2031%2C25%20L%2031%2C11%20L%2025.5%2C24.5%20L%2022.5%2C9.5%20L%2019.5%2C24.5%20L%2014%2C10.5%20L%2014%2C25%20L%207%2C14%20L%209%2C26%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2C26%20C%209%2C28%2010.5%2C28%2011.5%2C30%20C%2012.5%2C31.5%2012.5%2C31%2012%2C33.5%20C%2010.5%2C34.5%2010.5%2C36%2010.5%2C36%20C%209%2C37.5%2011%2C38.5%2011%2C38.5%20C%2017.5%2C39.5%2027.5%2C39.5%2034%2C38.5%20C%2034%2C38.5%2035.5%2C37.5%2034%2C36%20C%2034%2C36%2034.5%2C34.5%2033%2C33.5%20C%2032.5%2C31%2032.5%2C31.5%2033.5%2C30%20C%2034.5%2C28%2036%2C28%2036%2C26%20C%2027.5%2C24.5%2017.5%2C24.5%209%2C26%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011.5%2C30%20C%2015%2C29%2030%2C29%2033.5%2C30%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2012%2C33.5%20C%2018%2C32.5%2027%2C32.5%2033%2C33.5%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.wrook {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3A%23ffffff%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2C39%20L%2036%2C39%20L%2036%2C36%20L%209%2C36%20L%209%2C39%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2012%2C36%20L%2012%2C32%20L%2033%2C32%20L%2033%2C36%20L%2012%2C36%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011%2C14%20L%2011%2C9%20L%2015%2C9%20L%2015%2C11%20L%2020%2C11%20L%2020%2C9%20L%2025%2C9%20L%2025%2C11%20L%2030%2C11%20L%2030%2C9%20L%2034%2C9%20L%2034%2C14%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2034%2C14%20L%2031%2C17%20L%2014%2C17%20L%2011%2C14%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2031%2C17%20L%2031%2C29.5%20L%2014%2C29.5%20L%2014%2C17%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2031%2C29.5%20L%2032.5%2C32%20L%2012.5%2C32%20L%2014%2C29.5%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011%2C14%20L%2034%2C14%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.wbishop {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3Anone%3B%20fill-rule%3Aevenodd%3B%20fill-opacity%3A1%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3B%20stroke-linejoin%3Around%3B%20stroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cg%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23000000%3B%20stroke-linecap%3Abutt%3B%22%3E%20%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20d%3D%22M%209%2C36%20C%2012.39%2C35.03%2019.11%2C36.43%2022.5%2C34%20C%2025.89%2C36.43%2032.61%2C35.03%2036%2C36%20C%2036%2C36%2037.65%2C36.54%2039%2C38%20C%2038.32%2C38.97%2037.35%2C38.99%2036%2C38.5%20C%2032.61%2C37.53%2025.89%2C38.96%2022.5%2C37.5%20C%2019.11%2C38.96%2012.39%2C37.53%209%2C38.5%20C%207.646%2C38.99%206.677%2C38.97%206%2C38%20C%207.354%2C36.06%209%2C36%209%2C36%20z%22%20%2F%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20d%3D%22M%2015%2C32%20C%2017.5%2C34.5%2027.5%2C34.5%2030%2C32%20C%2030.5%2C30.5%2030%2C30%2030%2C30%20C%2030%2C27.5%2027.5%2C26%2027.5%2C26%20C%2033%2C24.5%2033.5%2C14.5%2022.5%2C10.5%20C%2011.5%2C14.5%2012%2C24.5%2017.5%2C26%20C%2017.5%2C26%2015%2C27.5%2015%2C30%20C%2015%2C30%2014.5%2C30.5%2015%2C32%20z%22%20%2F%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20d%3D%22M%2025%208%20A%202.5%202.5%200%201%201%20%2020%2C8%20A%202.5%202.5%200%201%201%20%2025%208%20z%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2017.5%2C26%20L%2027.5%2C26%20M%2015%2C30%20L%2030%2C30%20M%2022.5%2C15.5%20L%2022.5%2C20.5%20M%2020%2C18%20L%2025%2C18%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.wknight {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3Anone%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2022%2C10%20C%2032.5%2C11%2038.5%2C18%2038%2C39%20L%2015%2C39%20C%2015%2C30%2025%2C32.5%2023%2C18%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2024%2C18%20C%2024.38%2C20.91%2018.45%2C25.37%2016%2C27%20C%2013%2C29%2013.18%2C31.34%2011%2C31%20C%209.958%2C30.06%2012.41%2C27.96%2011%2C28%20C%2010%2C28%2011.19%2C29.23%2010%2C30%20C%209%2C30%205.997%2C31%206%2C26%20C%206%2C24%2012%2C14%2012%2C14%20C%2012%2C14%2013.89%2C12.1%2014%2C10.5%20C%2013.27%2C9.506%2013.5%2C8.5%2013.5%2C7.5%20C%2014.5%2C6.5%2016.5%2C10%2016.5%2C10%20L%2018.5%2C10%20C%2018.5%2C10%2019.28%2C8.008%2021%2C7%20C%2022%2C7%2022%2C10%2022%2C10%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209.5%2025.5%20A%200.5%200.5%200%201%201%208.5%2C25.5%20A%200.5%200.5%200%201%201%209.5%2025.5%20z%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23000000%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2015%2015.5%20A%200.5%201.5%200%201%201%20%2014%2C15.5%20A%200.5%201.5%200%201%201%20%2015%2015.5%20z%22%0A%20%20%20%20%20%20transform%3D%22matrix(0.866%2C0.5%2C-0.5%2C0.866%2C9.693%2C-5.173)%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23000000%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}
img.wpawn {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cpath%0A%20%20%20%20d%3D%22M%2022%2C9%20C%2019.79%2C9%2018%2C10.79%2018%2C13%20C%2018%2C13.89%2018.29%2C14.71%2018.78%2C15.38%20C%2016.83%2C16.5%2015.5%2C18.59%2015.5%2C21%20C%2015.5%2C23.03%2016.44%2C24.84%2017.91%2C26.03%20C%2014.91%2C27.09%2010.5%2C31.58%2010.5%2C39.5%20L%2033.5%2C39.5%20C%2033.5%2C31.58%2029.09%2C27.09%2026.09%2C26.03%20C%2027.56%2C24.84%2028.5%2C23.03%2028.5%2C21%20C%2028.5%2C18.59%2027.17%2C16.5%2025.22%2C15.38%20C%2025.71%2C14.71%2026%2C13.89%2026%2C13%20C%2026%2C10.79%2024.21%2C9%2022%2C9%20z%20%22%0A%20%20%20%20style%3D%22opacity%3A1%3B%20fill%3A%23ffffff%3B%20fill-opacity%3A1%3B%20fill-rule%3Anonzero%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3B%20stroke-linejoin%3Amiter%3B%20stroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%20%2F%3E%0A%3C%2Fsvg%3E');
}
img.bking {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22fill%3Anone%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2022.5%2C11.63%20L%2022.5%2C6%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linejoin%3Amiter%3B%22%0A%20%20%20%20%20%20%20id%3D%22path6570%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2022.5%2C25%20C%2022.5%2C25%2027%2C17.5%2025.5%2C14.5%20C%2025.5%2C14.5%2024.5%2C12%2022.5%2C12%20C%2020.5%2C12%2019.5%2C14.5%2019.5%2C14.5%20C%2018%2C17.5%2022.5%2C25%2022.5%2C25%22%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23000000%3Bfill-opacity%3A1%3B%20stroke-linecap%3Abutt%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2011.5%2C37%20C%2017%2C40.5%2027%2C40.5%2032.5%2C37%20L%2032.5%2C30%20C%2032.5%2C30%2041.5%2C25.5%2038.5%2C19.5%20C%2034.5%2C13%2025%2C16%2022.5%2C23.5%20L%2022.5%2C27%20L%2022.5%2C23.5%20C%2019%2C16%209.5%2C13%206.5%2C19.5%20C%203.5%2C25.5%2011.5%2C29.5%2011.5%2C29.5%20L%2011.5%2C37%20z%20%22%0A%20%20%20%20%20%20%20style%3D%22fill%3A%23000000%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2020%2C8%20L%2025%2C8%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2032%2C29.5%20C%2032%2C29.5%2040.5%2C25.5%2038.03%2C19.85%20C%2034.15%2C14%2025%2C18%2022.5%2C24.5%20L%2022.51%2C26.6%20L%2022.5%2C24.5%20C%2020%2C18%209.906%2C14%206.997%2C19.85%20C%204.5%2C25.5%2011.85%2C28.85%2011.85%2C28.85%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2011.5%2C30%20C%2017%2C27%2027%2C27%2032.5%2C30%20M%2011.5%2C33.5%20C%2017%2C30.5%2027%2C30.5%2032.5%2C33.5%20M%2011.5%2C37%20C%2017%2C34%2027%2C34%2032.5%2C37%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
}
img.bqueen {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3A000000%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cg%20style%3D%22fill%3A%23000000%3B%20stroke%3Anone%3B%22%3E%0A%20%20%20%20%20%20%3Ccircle%20cx%3D%226%22%20%20%20%20cy%3D%2212%22%20r%3D%222.75%22%20%2F%3E%0A%20%20%20%20%20%20%3Ccircle%20cx%3D%2214%22%20%20%20cy%3D%229%22%20%20r%3D%222.75%22%20%2F%3E%0A%20%20%20%20%20%20%3Ccircle%20cx%3D%2222.5%22%20cy%3D%228%22%20%20r%3D%222.75%22%20%2F%3E%0A%20%20%20%20%20%20%3Ccircle%20cx%3D%2231%22%20%20%20cy%3D%229%22%20%20r%3D%222.75%22%20%2F%3E%0A%20%20%20%20%20%20%3Ccircle%20cx%3D%2239%22%20%20%20cy%3D%2212%22%20r%3D%222.75%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%209%2C26%20C%2017.5%2C24.5%2030%2C24.5%2036%2C26%20L%2038.5%2C13.5%20L%2031%2C25%20L%2030.7%2C10.9%20L%2025.5%2C24.5%20L%2022.5%2C10%20L%2019.5%2C24.5%20L%2014.3%2C10.9%20L%2014%2C25%20L%206.5%2C13.5%20L%209%2C26%20z%22%0A%20%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%209%2C26%20C%209%2C28%2010.5%2C28%2011.5%2C30%20C%2012.5%2C31.5%2012.5%2C31%2012%2C33.5%20C%2010.5%2C34.5%2010.5%2C36%2010.5%2C36%20C%209%2C37.5%2011%2C38.5%2011%2C38.5%20C%2017.5%2C39.5%2027.5%2C39.5%2034%2C38.5%20C%2034%2C38.5%2035.5%2C37.5%2034%2C36%20C%2034%2C36%2034.5%2C34.5%2033%2C33.5%20C%2032.5%2C31%2032.5%2C31.5%2033.5%2C30%20C%2034.5%2C28%2036%2C28%2036%2C26%20C%2027.5%2C24.5%2017.5%2C24.5%209%2C26%20z%22%0A%20%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2011%2C38.5%20A%2035%2C35%201%200%200%2034%2C38.5%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23000000%3B%20stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2011%2C29%20A%2035%2C35%201%200%201%2034%2C29%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2012.5%2C31.5%20L%2032.5%2C31.5%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2011.5%2C34.5%20A%2035%2C35%201%200%200%2033.5%2C34.5%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2010.5%2C37.5%20A%2035%2C35%201%200%200%2034.5%2C37.5%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.brook {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3A000000%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209%2C39%20L%2036%2C39%20L%2036%2C36%20L%209%2C36%20L%209%2C39%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2012.5%2C32%20L%2014%2C29.5%20L%2031%2C29.5%20L%2032.5%2C32%20L%2012.5%2C32%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2012%2C36%20L%2012%2C32%20L%2033%2C32%20L%2033%2C36%20L%2012%2C36%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2014%2C29.5%20L%2014%2C16.5%20L%2031%2C16.5%20L%2031%2C29.5%20L%2014%2C29.5%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3Bstroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2014%2C16.5%20L%2011%2C14%20L%2034%2C14%20L%2031%2C16.5%20L%2014%2C16.5%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011%2C14%20L%2011%2C9%20L%2015%2C9%20L%2015%2C11%20L%2020%2C11%20L%2020%2C9%20L%2025%2C9%20L%2025%2C11%20L%2030%2C11%20L%2030%2C9%20L%2034%2C9%20L%2034%2C14%20L%2011%2C14%20z%20%22%0A%20%20%20%20%20%20style%3D%22stroke-linecap%3Abutt%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2012%2C35.5%20L%2033%2C35.5%20L%2033%2C35.5%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%20stroke-width%3A1%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2013%2C31.5%20L%2032%2C31.5%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%20stroke-width%3A1%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2014%2C29.5%20L%2031%2C29.5%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%20stroke-width%3A1%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2014%2C16.5%20L%2031%2C16.5%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%20stroke-width%3A1%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2011%2C14%20L%2034%2C14%22%0A%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%20stroke-width%3A1%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.bbishop {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3Anone%3B%20fill-rule%3Aevenodd%3B%20fill-opacity%3A1%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3B%20stroke-linejoin%3Around%3B%20stroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cg%20style%3D%22fill%3A%23000000%3B%20stroke%3A%23000000%3B%20stroke-linecap%3Abutt%3B%22%3E%20%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20d%3D%22M%209%2C36%20C%2012.39%2C35.03%2019.11%2C36.43%2022.5%2C34%20C%2025.89%2C36.43%2032.61%2C35.03%2036%2C36%20C%2036%2C36%2037.65%2C36.54%2039%2C38%20C%2038.32%2C38.97%2037.35%2C38.99%2036%2C38.5%20C%2032.61%2C37.53%2025.89%2C38.96%2022.5%2C37.5%20C%2019.11%2C38.96%2012.39%2C37.53%209%2C38.5%20C%207.646%2C38.99%206.677%2C38.97%206%2C38%20C%207.354%2C36.06%209%2C36%209%2C36%20z%22%20%2F%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20d%3D%22M%2015%2C32%20C%2017.5%2C34.5%2027.5%2C34.5%2030%2C32%20C%2030.5%2C30.5%2030%2C30%2030%2C30%20C%2030%2C27.5%2027.5%2C26%2027.5%2C26%20C%2033%2C24.5%2033.5%2C14.5%2022.5%2C10.5%20C%2011.5%2C14.5%2012%2C24.5%2017.5%2C26%20C%2017.5%2C26%2015%2C27.5%2015%2C30%20C%2015%2C30%2014.5%2C30.5%2015%2C32%20z%22%20%2F%3E%0A%20%20%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20%20d%3D%22M%2025%208%20A%202.5%202.5%200%201%201%20%2020%2C8%20A%202.5%202.5%200%201%201%20%2025%208%20z%22%20%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20%20d%3D%22M%2017.5%2C26%20L%2027.5%2C26%20M%2015%2C30%20L%2030%2C30%20M%2022.5%2C15.5%20L%2022.5%2C20.5%20M%2020%2C18%20L%2025%2C18%22%0A%20%20%20%20%20%20%20style%3D%22fill%3Anone%3B%20stroke%3A%23ffffff%3B%20stroke-linejoin%3Amiter%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.bknight {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cg%20style%3D%22opacity%3A1%3B%20fill%3Anone%3B%20fill-opacity%3A1%3B%20fill-rule%3Aevenodd%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2022%2C10%20C%2032.5%2C11%2038.5%2C18%2038%2C39%20L%2015%2C39%20C%2015%2C30%2025%2C32.5%2023%2C18%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23000000%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2024%2C18%20C%2024.38%2C20.91%2018.45%2C25.37%2016%2C27%20C%2013%2C29%2013.18%2C31.34%2011%2C31%20C%209.958%2C30.06%2012.41%2C27.96%2011%2C28%20C%2010%2C28%2011.19%2C29.23%2010%2C30%20C%209%2C30%205.997%2C31%206%2C26%20C%206%2C24%2012%2C14%2012%2C14%20C%2012%2C14%2013.89%2C12.1%2014%2C10.5%20C%2013.27%2C9.506%2013.5%2C8.5%2013.5%2C7.5%20C%2014.5%2C6.5%2016.5%2C10%2016.5%2C10%20L%2018.5%2C10%20C%2018.5%2C10%2019.28%2C8.008%2021%2C7%20C%2022%2C7%2022%2C10%2022%2C10%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23000000%3B%20stroke%3A%23000000%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%209.5%2025.5%20A%200.5%200.5%200%201%201%208.5%2C25.5%20A%200.5%200.5%200%201%201%209.5%2025.5%20z%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2015%2015.5%20A%200.5%201.5%200%201%201%20%2014%2C15.5%20A%200.5%201.5%200%201%201%20%2015%2015.5%20z%22%0A%20%20%20%20%20%20transform%3D%22matrix(0.866%2C0.5%2C-0.5%2C0.866%2C9.693%2C-5.173)%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3A%23ffffff%3B%22%20%2F%3E%0A%20%20%20%20%3Cpath%0A%20%20%20%20%20%20d%3D%22M%2024.55%2C10.4%20L%2024.1%2C11.85%20L%2024.6%2C12%20C%2027.75%2C13%2030.25%2C14.49%2032.5%2C18.75%20C%2034.75%2C23.01%2035.75%2C29.06%2035.25%2C39%20L%2035.2%2C39.5%20L%2037.45%2C39.5%20L%2037.5%2C39%20C%2038%2C28.94%2036.62%2C22.15%2034.25%2C17.66%20C%2031.88%2C13.17%2028.46%2C11.02%2025.06%2C10.5%20L%2024.55%2C10.4%20z%20%22%0A%20%20%20%20%20%20style%3D%22fill%3A%23ffffff%3B%20stroke%3Anone%3B%22%20%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
}
img.bpawn {
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%2245%22%20height%3D%2245%22%3E%0A%20%20%3Cpath%0A%20%20%20%20d%3D%22M%2022%2C9%20C%2019.79%2C9%2018%2C10.79%2018%2C13%20C%2018%2C13.89%2018.29%2C14.71%2018.78%2C15.38%20C%2016.83%2C16.5%2015.5%2C18.59%2015.5%2C21%20C%2015.5%2C23.03%2016.44%2C24.84%2017.91%2C26.03%20C%2014.91%2C27.09%2010.5%2C31.58%2010.5%2C39.5%20L%2033.5%2C39.5%20C%2033.5%2C31.58%2029.09%2C27.09%2026.09%2C26.03%20C%2027.56%2C24.84%2028.5%2C23.03%2028.5%2C21%20C%2028.5%2C18.59%2027.17%2C16.5%2025.22%2C15.38%20C%2025.71%2C14.71%2026%2C13.89%2026%2C13%20C%2026%2C10.79%2024.21%2C9%2022%2C9%20z%20%22%0A%20%20%20%20style%3D%22opacity%3A1%3B%20fill%3A%23000000%3B%20fill-opacity%3A1%3B%20fill-rule%3Anonzero%3B%20stroke%3A%23000000%3B%20stroke-width%3A1.5%3B%20stroke-linecap%3Around%3B%20stroke-linejoin%3Amiter%3B%20stroke-miterlimit%3A4%3B%20stroke-dasharray%3Anone%3B%20stroke-opacity%3A1%3B%22%20%2F%3E%0A%3C%2Fsvg%3E');
}



/*********************************************************************************************************/


/* breakpoint at 256px */
@media all and (min-width: 16em) {
    #chessBoardHidden {
        display:none;
    }
    #chessBoardContainer {
        display:block;
    }
    .chessBoardRow {
        height:2em;
    }
    .chessBoardSquare {
        width:2em;
        height:2em;
    }
    #wGraveyard > .piece ,#bGraveyard > .piece {
        width: 1.8em;
    }
    #wGraveyard, #bGraveyard {
        display:block;
        width:16em; 
        height:2em;
    }
    #boardpage_chat {
        display:block;
    }
}

/* breakpoint at 384px */
@media all and (min-width: 24em) and (min-height: 27em){
    #infoPanel {
        width:24em; 
    }    
    #chessBoard {
        width:24em; 
        height:24em; 
    }
    .chessBoardRow {
        height:3em;
    }
    .chessBoardSquare {
        width:3em;
        height:3em;
    }
    #wSit,#bSit {
        top: 14em;
    }
    #wGraveyard > .piece ,#bGraveyard > .piece {
        width: 2.7em;
    }
    #wGraveyard, #bGraveyard {
        width:24em; 
        height:3em;
    }
}

/* breakpoint at 512px */
@media all and (min-width: 32em) and (min-height: 35em){
    #infoPanel {
        width:32em; 
    }    
    #chessBoard {
        width:32em; 
        height:32em; 
    }
    .chessBoardRow {
        height:4em;
    }
    .chessBoardSquare {
        width:4em;
        height:4em;
    }
    #wSit,#bSit {
        top:17em;
    }
    #wGraveyard > .piece ,#bGraveyard > .piece {
        width: 3.6em;
    }
    #wGraveyard, #bGraveyard {
        width:32em; 
        height:4em;
    }
}

/* breakpoint at 650px*/
@media all and (min-width: 40em) {
    #infoPanel {
        width:40em; 
        margin-top: 0.3em;
    }    
    #chessBoard {
        width:40em; 
        height:40em; 
    }
    .chessBoardRow {
        height:5em;
    }
    .chessBoardSquare {
        width:5em;
        height:5em;
    }
    #wSit,#bSit {
        top: 22em;
    }
    #wGraveyard > .piece ,#bGraveyard > .piece {
        width: 4.5em;
    }
    #wGraveyard, #bGraveyard {
        margin-top: 0.3em;
        width:40em;
        height:5em;
    }
}

/* breakpoint at 864px width : Graveyards are moved to the right side of the board */
@media all and (min-width: 54em) and (min-height: 42em){
    #infoPanel {
        margin: 0.5em 0.5em 0 0.5em;
        float:left;
    }    
    #chessBoard {
        margin: 0.5em 0.5em 0 0.5em;
        float:left;
        display:block;
    }
    #wGraveyard, #bGraveyard {
        margin: 0.5em 0.2em 0 0;
        float:left;
        display:block;
        width: 5em;
        height:40em;
    }
    #boardpage_chat {
        float:left;
        margin-right:2em;
    }
    #bSit,#wSit {
        margin-right:0;
        margin-left:0;
        left: 15.25em;
    }
}

/* breakpoint at 1024px : Chat is moved to the right side of the screen */
@media all and (min-width: 64em) and (min-height: 42em){
    #boardpage_chat {
        margin: 0.5em 0.5em 0 53em;
        width:auto;
        float:none;
    }
}

